<h1>Throwaway API - for anything and nothing</h1>

<p>a <a href="http://sailsjs.or">Sails</a> application. This App exposes two models, through an CRUD API
(no authentication, no hassle). The existing models are called <code>games</code> and
<code>misc</code>. They have no predefined attributes and can be used as needed.</p>

<h2>How to use locally</h2>

<p>This assumes you have installed <a href="http://sailsjs.or">Sails</a>.</p>

<ol><li><p>In the project&#39;s directory, start the application:</p><p>sails lift</p></li><li><p>You will be asked how to deal with migrations, for throwaway data, it
shouldn&#39;t matter, just enter <code>1</code>.</p></li><li>The App should now be running locally on port 1337, head over to
<a href="http://localhost:1337">the App</a></li><li>Both of the models are exposed:<ul><li>[http://localhost:1337/games][http://localhost:1337/games]</li><li>[http://localhost:1137/misc][http://localhost:1337/misc]</li></ul></li><li>To create an instance of either send a POST request to:<ul><li><code>http://localhost:1337/MODEL/create/?someAttribute=whatever</code></li></ul></li><li>To update:<ul><li><code>http://localhost:1337/MODEL/update/1/?someAttribute=somethingElse</code></li></ul></li><li>To delete:<ul><li><code>http://localhost:1337/MODEL/destroy/1/</code></li></ul></li></ol>

<h2>Deploy an instance to Heroku</h2>

<p>This assumes you have installed <a href="https://devcenter.heroku.com/articles/heroku-cli">Heroku&#39;s CLI</a>, and that you are
logged into your account.</p>

<ol><li><p>In the project&#39;s directory, create an Heroku App:</p><p>heroku apps:create</p></li><li><p>Deploy the project as the App:</p><p>git push heroku master</p></li><li><p>Open the App for inspection:</p><p>heroku open</p></li><li><p>That&#39;s it. Happy prototyping.</p></li></ol>
